@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position: relative;
    min-height: 100%;
}
main{
    margin-bottom: 250px;
}
footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
p{
    font-family: $font-family-serif;
    font-size: 10px;
}
.btn{
    font-family: $font-family-sans-serif;
}
.typoserif{
    font-family: $font-family-serif;
}
.typosansserif{
    font-family: $font-family-sans-serif;
}
.hero-scene{
    position: relative;
    margin-bottom: 15px;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/Images/pizza-5179939_1280.jpg");
        background-size: cover;
        filter: brightness(0.3);
    }
    *{
        //Positionner les éléments devant le before
        position: relative;
    }
    .hero-scene-content{
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .content-center {
        margin-top: -15px;
        font-family: sans-serif;
        font-size: 14px;
    }
}
.galerie-scene{
    position: relative;
    margin-bottom: 30px;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/Images/pizzagalerie.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: brightness(0.3);
    }
    *{
        //Positionner les éléments devant le before
        position: relative;
    }
    .galerie-scene-content{
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .content-center {
        margin-top: -15px;
        font-family: sans-serif;
        font-size: 14px;
    }
}
.menu-scene{
    position: relative;
    margin-bottom: 30px;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/Images/menu.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: brightness(0.3);
    }
    *{
        //Positionner les éléments devant le before
        position: relative;
    }
    .menu-scene-content{
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .content-center {
        margin-top: -15px;
        font-family: sans-serif;
        font-size: 14px;
    }
}
.margin-se{
    margin-left: 40px;
    margin-right: 40px;
}
.margin-article {
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 64px;
    margin-bottom: 64px;
}
.img-size {
    width: 291px;
    height: 160px;
}
.image-card{
    position: relative;
    &:hover{
        .titre-image{
            opacity: 1;
        }
        img{
            filter: brightness(0.3);
        }
    }
    img{
        transition: all 0.3s;
    }
    .titre-image{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}
.marginButton{
    gap: 15px;
}
.YellowLight{
    background-color: $YellowLight;
}
.margint3{
    margin-top: 1rem;
}
.connexion-scene{
    position: relative;
    margin-bottom: 15px;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/Images/famille.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: brightness(0.3);
    }
    *{
        //Positionner les éléments devant le before
        position: relative;
    }
    .connexion-scene-content{
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .content-center {
        margin-top: -15px;
        font-family: sans-serif;
        font-size: 14px;
    }
}

.form-label{
    color: $primary;
}